@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'assets/fonts/fontawesome/css/all.min.css';
@import 'assets/fonts/roboto/common-font.css';

body {
  background-color: #dbdbdb;
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
}
